
Packages/com.ptc.vuforia.engine-10.18.4.tgz
Library/ArtifactDB
Assets/3D/Textures/excavated_soil_wall_nor_gl_16k.exr
Assets/3D/Textures/excavated_soil_wall_rough_16k.exr
Assets/3D/Textures/excavated_soil_wall_disp_16k.jpg.meta
Assets/3D/Textures/excavated_soil_wall_nor_gl_16k.exr.meta
Library/
Packages/com.ptc.vuforia.engine-10.19.3.tgz
